<div class="col-md mb-3">
    <img class="img-fluid p-1 rounded" style="background-color: orange; height: 316px; width: 142px;" src="/assets/shapes/<%= img %>.png" alt="<%= img %>">
    <input id="response<%= i %>" class="form-control mt-1 container-fluid" style="width: 142px" type="number" min="1" max="20" placeholder="Номер дома">
</div>