<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хэллоуин 2020</title>
    <script type="text/javascript" src="/assets/header.bundle.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
</head>
<body class="cover">
<div class="container-fluid mt-5 text-center">

    <div class="row-fluid">
        <h1 class="pt-5 display-3 text-break display-halloween font-weight-bolder shadowed">Хэллоуин</h1>

    <% if (!name) { %>

        <a class="h3 btn btn-dark" href="auth" role="button">Авторизоваться</a>

    <% } else if (imgs) { %>

        <%- include('message', { desc: desc }); %>

        <div class="container text-center mt-3">
            <div class="row">
                <% imgs.forEach(function(img, i) {%>
                    <%- include('image', { i: i, img: img }) %>
                <% }) %>
            </div>
        </div>

        <button id="submitBtn" type="button" class="btn btn-warning btn-lg mb-3" disabled>Отметить</button>

        <script type="text/javascript" src="/assets/index.bundle.js"></script>

    <% } else { %>
       <%- include('message', { desc: desc }); %>
       <div class="cover" style="background: url('https://i.imgur.com/q7T5u3m.png'); width: 100px; height: 100px;"></div>
    <% }%>
    </div>
</div>

</body>
</html>
