<span class="h1 text-break shadowed">Привет, <%= name %>!</span> <a class="badge badge-pill badge-dark" href="auth/logout" role="button">Выйти</a>
<div class="d-flex flex-row justify-content-around shadowed">
    <% if (desc) { %>
        <h3 class="w-75 text-center"><%- desc %></h3>
    <% } else { %>
        <h3 class="w-75 text-center">Ночами тёмными по улицам бродят они. На <a class="text-dark" style="text-decoration: underline" href="https://octo.gg/join-dbg">востоке города</a>, за рамами в окнах таясь, то скребутся, то воют. Дома, приютившие их, должны быть непременно отмечены. Взор навостри, вокруг осмотрись, будь осторожен, нечисть ища.</h3>
    <% } %>
</div>