mixin message(name, text)
	.title.has-text-light.is-1.has-text-weight-bold.oswald.is-uppercase Хэллоуин

	if !name

		a(href='/auth')
			img(src='https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png')

	else
		.subtitle.is-3.has-text-light.has-text-weight-light.oswald Привет, #{name}! 
		.section.is-bold.mt-1.p-1(
			style={'border-radius':'15px'}
		)
			if text
				.is-size-4.has-text-light.oswald= text
			else
				.is-size-4.has-text-light.oswald
					| Мгла и тьма на небе сгущалась, ночь пеленой на город сошла. Скрежет, смешки и свист разносились окольями — нечисть в День всех святых пировать собралась. В домах то и дело мелькают фигуры, танцы, хороводы — одним словом, кутёж. Пришло время с бесовщиной покончить, дать бой, согнать всех подальше, всех прочь! На карте отметины, где были замечены. 
					i Лишь номера тебе нужно вписать.
					|  Ступай на 
					a.has-text-light.oswald(
						style={'text-decoration': 'underline'}
						href='https://octo.gg/join-dbg'
						tabindex='-1'
					) восток
					| , вдоль высоких домов! Будь осторожен, они следят за тобой.
