.background
	background linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/dist/bg.jpg) no-repeat center center fixed
	background-color #000

.cover
	-webkit-background-size cover
	-moz-background-size cover
	background-size cover
	-o-background-size cover

.pure-g > div
	box-sizing border-box

.l-box
	padding-top 1em

.transparent
	opacity 0.5

.shape
	background-color goldenrod
	border-radius 3%

.unselectable
	pointer-events none
	user-select none
	-moz-user-select none
	-ms-user-select none
	-webkit-user-select none

.btm-overlay
	position absolute
	bottom 0

.oswald
	font-family 'Oswald', sans-serif

html
	overflow-y auto