@font-face {
	font-family: Halloween;
	src: url(/assets/font.ttf)
}

body {
	background: url(/assets/bg.jpg) no-repeat center center fixed;
}

.cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.display-halloween {
	font-family: Halloween, sans-serif;
}

.shadowed {
	text-shadow: 1px 1px 1px #ffffff;
}